In [17]:
import pandas as pd

@author: MUSTAFA YALINIZ

In [18]:
# Veriyi oku 
data = pd.read_csv('maaslar_yeni.csv')
data

    Calisan ID             unvan  UnvanSeviyesi  Kidem  Puan   maas
0            1             Cayci              1      5    70   2250
1            2          Sekreter              2      5    70   2500
2            3  Uzman Yardimcisi              3      5    70   3000
3            4             Uzman              4      5    70   4000
4            5  Proje Yoneticisi              5      5    70   5500
5            6               Sef              6      5    70   7500
6            7             Mudur              7      5    70  10000
7            8          Direktor              8      5    70  15000
8            9           C-level              9      5    70  25000
9           10               CEO             10      5    70  50000
10          11             Cayci              1      7    99   2000
11          12          Sekreter              2      7     9   2500
12          13  Uzman Yardimcisi              3      7    62   4000
13          14             Uzman              4      4    38   3000
14          15  Proje Yoneticisi              5      1    80   5000
15          16               Sef              6      2    35   5000
16          17             Mudur              7      8    99  12000
17          18          Direktor              8      4    58  11000
18          19           C-level              9      2    20  15000
19          20               CEO             10      4    42  22000
20          21             Cayci              1      8    11   2200
21          22          Sekreter              2      2    53   2200
22          23  Uzman Yardimcisi              3      8    50   2800
23          24             Uzman              4      9    91   6000
24          25  Proje Yoneticisi              5      9    71   5400
25          26               Sef              6      1     2   4000
26          27             Mudur              7     10    81  12000
27          28          Direktor              8     10    38  10000
28          29           C-level              9      1    50  15000
29          30               CEO             10      9    83  60000

In [19]:
# String veriyi at
df = data.drop('unvan',axis=1)
df

    Calisan ID  UnvanSeviyesi  Kidem  Puan   maas
0            1              1      5    70   2250
1            2              2      5    70   2500
2            3              3      5    70   3000
3            4              4      5    70   4000
4            5              5      5    70   5500
5            6              6      5    70   7500
6            7              7      5    70  10000
7            8              8      5    70  15000
8            9              9      5    70  25000
9           10             10      5    70  50000
10          11              1      7    99   2000
11          12              2      7     9   2500
12          13              3      7    62   4000
13          14              4      4    38   3000
14          15              5      1    80   5000
15          16              6      2    35   5000
16          17              7      8    99  12000
17          18              8      4    58  11000
18          19              9      2    20  15000
19          20             10      4    42  22000
20          21              1      8    11   2200
21          22              2      2    53   2200
22          23              3      8    50   2800
23          24              4      9    91   6000
24          25              5      9    71   5400
25          26              6      1     2   4000
26          27              7     10    81  12000
27          28              8     10    38  10000
28          29              9      1    50  15000
29          30             10      9    83  60000

In [20]:
# Korelasyon 
df.corr().mean()

Calisan ID       0.302627
UnvanSeviyesi    0.393726
Kidem            0.304368
Puan             0.261588
maas             0.454552
dtype: float64

In [21]:
# Bagimli Bagimsiz olarka veriyi ayir
Y = df.iloc[:,:1].values
X = df.iloc[:,2:].values

In [22]:
# Polynoimal olarak veriyi egit
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot as plt
lr = LinearRegression()
pol = PolynomialFeatures(degree = 4)
X_pol = pol.fit_transform(X)
lr.fit(X_pol,Y)
poly = lr.predict(X_pol)
poly = poly.astype(int)
poly = pd.DataFrame(poly,columns=['ID_Poly'])
data_poly = pd.concat([data, poly], axis=1)
data_poly

    Calisan ID             unvan  UnvanSeviyesi  Kidem  Puan   maas  ID_Poly
0            1             Cayci              1      5    70   2250        2
1            2          Sekreter              2      5    70   2500        2
2            3  Uzman Yardimcisi              3      5    70   3000        3
3            4             Uzman              4      5    70   4000        4
4            5  Proje Yoneticisi              5      5    70   5500        5
5            6               Sef              6      5    70   7500        6
6            7             Mudur              7      5    70  10000        7
7            8          Direktor              8      5    70  15000        7
8            9           C-level              9      5    70  25000        9
9           10               CEO             10      5    70  50000        9
10          11             Cayci              1      7    99   2000       10
11          12          Sekreter              2      7     9   2500       15
12          13  Uzman Yardimcisi              3      7    62   4000        8
13          14             Uzman              4      4    38   3000       14
14          15  Proje Yoneticisi              5      1    80   5000       14
15          16               Sef              6      2    35   5000       16
16          17             Mudur              7      8    99  12000       17
17          18          Direktor              8      4    58  11000       17
18          19           C-level              9      2    20  15000       18
19          20               CEO             10      4    42  22000       20
20          21             Cayci              1      8    11   2200       18
21          22          Sekreter              2      2    53   2200       20
22          23  Uzman Yardimcisi              3      8    50   2800       24
23          24             Uzman              4      9    91   6000       23
24          25  Proje Yoneticisi              5      9    71   5400       26
25          26               Sef              6      1     2   4000       25
26          27             Mudur              7     10    81  12000       27
27          28          Direktor              8     10    38  10000       27
28          29           C-level              9      1    50  15000       29
29          30               CEO             10      9    83  60000       30

In [23]:
# DecisionTree olarak veriyi egit 
from sklearn.tree import DecisionTreeRegressor
model1 = DecisionTreeRegressor(random_state=0)
model1.fit(X,Y)
dec_tre=model1.predict(X)
dec_tre = dec_tre.reshape(30,1)
dec_tre = dec_tre.astype(int)
dec_tre = pd.DataFrame(data=dec_tre,columns=['ID_DecisionTree'])
data_dectre = pd.concat([data_poly,dec_tre], axis=1)
data_dectre

,Calisan ID,unvan,UnvanSeviyesi,Kidem,Puan,maas,ID_Poly,ID_DecisionTree
0,1,Cayci,1,5,70,2250,2,1
1,2,Sekreter,2,5,70,2500,2,2
2,3,Uzman Yardimcisi,3,5,70,3000,3,3
3,4,Uzman,4,5,70,4000,4,4
4,5,Proje Yoneticisi,5,5,70,5500,5,5
5,6,Sef,6,5,70,7500,6,6
6,7,Mudur,7,5,70,10000,7,7
7,8,Direktor,8,5,70,15000,7,8
8,9,C-level,9,5,70,25000,9,9
9,10,CEO,10,5,70,50000,9,10
10,11,Cayci,1,7,99,2000,10,11
11,12,Sekreter,2,7,9,2500,15,12
12,13,Uzman Yardimcisi,3,7,62,4000,8,13
13,14,Uzman,4,4,38,3000,14,14
14,15,Proje Yoneticisi,5,1,80,5000,14,15
15,16,Sef,6,2,35,5000,16,16
16,17,Mudur,7,8,99,12000,17,17
17,18,Direktor,8,4,58,11000,17,18
18,19,C-level,9,2,20,15000,18,19
19,20,CEO,10,4,42,22000,20,20
20,21,Cayci,1,8,11,2200,18,21
21,22,Sekreter,2,2,53,2200,20,22
22,23,Uzman Yardimcisi,3,8,50,2800,24,23
23,24,Uzman,4,9,91,6000,23,24
24,25,Proje Yoneticisi,5,9,71,5400,26,25
25,26,Sef,6,1,2,4000,25,26
26,27,Mudur,7,10,81,12000,27,27
27,28,Direktor,8,10,38,10000,27,28
28,29,C-level,9,1,50,15000,29,29
29,30,CEO,10,9,83,60000,30,30

In [24]:
# Randomforest olarak veriyi egit
from sklearn.ensemble import RandomForestRegressor
model2 = RandomForestRegressor(random_state=0)
model2.fit(X,Y.ravel())
rfr = model2.predict(X)
rfr = rfr.reshape(-1,1)
rfr = rfr.astype(int)
data_rfr = pd.DataFrame(data=rfr,columns=['ID_RandomForest'])
data_rfr = pd.concat([data_dectre,data_rfr], axis=1)
data_rfr

,Calisan ID,unvan,UnvanSeviyesi,Kidem,Puan,maas,ID_Poly,ID_DecisionTree,ID_RandomForest
0,1,Cayci,1,5,70,2250,2,1,2
1,2,Sekreter,2,5,70,2500,2,2,2
2,3,Uzman Yardimcisi,3,5,70,3000,3,3,2
3,4,Uzman,4,5,70,4000,4,4,3
4,5,Proje Yoneticisi,5,5,70,5500,5,5,4
5,6,Sef,6,5,70,7500,6,6,5
6,7,Mudur,7,5,70,10000,7,7,6
7,8,Direktor,8,5,70,15000,7,8,7
8,9,C-level,9,5,70,25000,9,9,8
9,10,CEO,10,5,70,50000,9,10,9
10,11,Cayci,1,7,99,2000,10,11,10
11,12,Sekreter,2,7,9,2500,15,12,13
12,13,Uzman Yardimcisi,3,7,62,4000,8,13,12
13,14,Uzman,4,4,38,3000,14,14,15
14,15,Proje Yoneticisi,5,1,80,5000,14,15,13
15,16,Sef,6,2,35,5000,16,16,17
16,17,Mudur,7,8,99,12000,17,17,19
17,18,Direktor,8,4,58,11000,17,18,17
18,19,C-level,9,2,20,15000,18,19,19
19,20,CEO,10,4,42,22000,20,20,19
20,21,Cayci,1,8,11,2200,18,21,20
21,22,Sekreter,2,2,53,2200,20,22,20
22,23,Uzman Yardimcisi,3,8,50,2800,24,23,21
23,24,Uzman,4,9,91,6000,23,24,24
24,25,Proje Yoneticisi,5,9,71,5400,26,25,24
25,26,Sef,6,1,2,4000,25,26,23
26,27,Mudur,7,10,81,12000,27,27,26
27,28,Direktor,8,10,38,10000,27,28,27
28,29,C-level,9,1,50,15000,29,29,25
29,30,CEO,10,9,83,60000,30,30,28

In [25]:
# R2 Square error kutuphanesini yukle 
from sklearn.metrics import r2_score

In [26]:
# Polynomial R2 Squared
poly_error = r2_score(Y,poly)
print(f'Polynomial R Squared Error: {poly_error}')

Polynomial R Squared Error: 0.9737486095661847

In [27]:
# Decision Tree R2 Squared 
dectree_error = r2_score(Y,dec_tre)
print(f'DecisionTree R Squared Error: {dectree_error}')

DecisionTree R Squared Error: 1.0

In [28]:
# Random Forest R2 Squared
randfore_error = r2_score(Y,rfr)
print(f'RandomForest R Squared Error: {randfore_error}')

RandomForest R Squared Error: 0.9710789766407119